/*
Errno::ENOENT: No such file or directory @ rb_sysopen - styles.scss

Backtrace:
/Users/widner/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:405:in `read'
/Users/widner/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:405:in `update_stylesheet'
/Users/widner/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/widner/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `each'
/Users/widner/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/widner/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.3.7/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/widner/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.3.7/lib/sass/exec.rb:489:in `watch_or_update'
/Users/widner/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.3.7/lib/sass/exec.rb:346:in `process_result'
/Users/widner/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.3.7/lib/sass/exec.rb:43:in `parse'
/Users/widner/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.3.7/lib/sass/exec.rb:22:in `parse!'
/Users/widner/.rvm/gems/ruby-2.0.0-p0/gems/sass-3.3.7/bin/scss:13:in `<top (required)>'
/Users/widner/.rvm/gems/ruby-2.0.0-p0/bin/scss:23:in `load'
/Users/widner/.rvm/gems/ruby-2.0.0-p0/bin/scss:23:in `<main>'
/Users/widner/.rvm/gems/ruby-2.0.0-p0/bin/ruby_executable_hooks:15:in `eval'
/Users/widner/.rvm/gems/ruby-2.0.0-p0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - styles.scss"; }
