/*	Annotator CSS styles – migrated from annotator/css  */

.annotator-viewer div {
    border: none;
}

// Spacing for our icons: Categories and Privacy
.annotator-item.fa:before,
.annotator-item .fa:before {
    padding-left: 5px;
    padding-right: 5px;
}

.annotator-category, .annotator-privacy-type {
  padding: 1px 5px 1px 5px;
  margin: 1px 1px 0px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: black;
  display: inline-block;
  text-transform: capitalize;
  font-style: normal;
}

  /* ----------------------------------------------------------------
  *	Categories styles
  *	from annotator/css/categories.css
  *
  *
  */

$category-default: rgba(22,147,165, .2);
$category-selected: rgba(22,147,165, .8);

.annotator-categories {
  border-top: solid 1px #eee;
}

  .annotator-category:hover {
    cursor: pointer;
  }

  .annotator-categories h4{
    font-size: 13px;
    display: block;
    margin: 5px 0px 5px 5px;
  }

  .annotator-viewer ul li .annotator-category {
    text-align: center;
    width: 33%;
  }

.annotator-category {
  background-color: $category-default;
}

  .annotator-category-none {

  }

.annotator-category-0,
.annotator-category-1,
.annotator-category-2,
.annotator-category-3,
.annotator-category-4,
.annotator-category-5,
.annotator-category-6,
.annotator-category-7
{
  background-color: $category-default;
}

.annotator-category-selected {
  background-color: $category-selected !important;
}


  /* ----------------------------------------------------------------
  *	Comment styles
  *	from annotator/css/comment.css
  */

  .annotator-comment {
    display: block !important;
    width: 100%;
  }


  /* ----------------------------------------------------------------
  *	Filters styles
  *	from annotator/css/filters.css
  */

  #annotation-filters-wrapper {
    position: fixed;
    font-size: 12px;
    border: 1px solid rgb(200, 200, 200);
    moz-border-radius: 5px;
    webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 2px;
    width: 15em;
    background-color: #eee;
    box-shadow: 2px 2px 5px gray;
    top: 200px;
    z-index: 1;
  }

#annotation-filters {
    position: relative;
}

section.region-sidebar-second h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

section.region-sidebar-second input[type="checkbox"] {
    margin: 10% 5% 10% 20%;
}

#af-active {
    text-align: center;
}

.region-sidebar-second div#block-block-1 {
    background-color: transparent;
    border: none;
}

.af-title {
    margin-left: 50px;
    font-weight: bold;
}

.af-button {
    cursor: pointer;
    display: inline-block;
    color: black;
    padding: 0px;
    margin: 0px 6px 15px 6px;
    text-align: center;
    font-variant: small-caps;
    width: 25%;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    background-color: #92a6c4;
    background-image: linear-gradient(to bottom, #92a6c4, #39404a);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    font-size: 14px;
    margin-right: 5px;
}

.af-button:hover {
    background-color: #39404a;
}

.af-button-active:hover {
    background-color: #88b551;
    color: #FFFFFF;
    background-position: 0 -15px;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}

.af-button-active {
    background-color: #c4df2c;
    background-image: linear-gradient(to bottom, #c4df2c, #88b551);
}

#af-button-reset {
    width: 90%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.af-annotation-hide {
    background-color: transparent !important;
}

#af-button-user {
}

// For the "Showing Only" title
#af-filter-active {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

// For dynamic active filters
.af-filter-active {
    display: block;
    text-transform: capitalize;
    width: 100%;
    padding-left: 10%;
    cursor: pointer;
}

.af-wrapper {
    white-space: nowrap;
    width: 100%;
}

label.af-autocomplete-label {
    display: inline-block !important;
    text-align: right;
    width: 35%;
    padding-right: 5px;
    font-weight: normal;
    font-size: 9pt;
}

label.af-autocomplete-label:first-letter {
    text-transform: capitalize;
}

input.af-autocomplete.ui-autocomplete-input {
    display: inline-block;
    width: 60%;
}

#af-pager-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#af-pager-controls {
    padding-left: 20px;
    width: 100%;
}

#af-pager-count {
  text-align: center;
  margin-left: 40%;
}

i.af-pager {
    cursor: pointer;
    margin-right: 20%;
}


/***
 * Annotator Privacy Plugin CSS.
 *
 ***/

$privacy-default: rgba(17,143,5,0.33);
$privacy-selected: rgba(19, 149, 25, 0.74);
.annotator-privacy-types {
  padding: 0px !important;
  font-size: 12px !important;
  margin-left: 2px;
}

.annotator-editor .annotator-privacy-types {
  margin-left: 4px;
}

.annotator-viewer {
  .annotator-privacy-type {
    padding: 6px;
    display: inline-block;
    text-align: center;
    width: 33%;
  }
  .annotator-privacy-types {
    margin-left: 0px;
  }
  .annotator-privacy {
    padding-left: 0;
    padding-top: 0;
  }
  .annotator-privacy-group.checked {
    padding: 6px;
    margin: 1px 1px 0px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
  }
  .annotator-privacy-group.peer-groups.checked {
    background-color: $privacy-selected;
  }
  .annotator-privacy-group.course-groups.checked {
    background-color: $privacy-default;
  }
}

.annotator-privacy-types .annotator-privacy-type {
  background-color: $privacy-default;
}

.annotator-privacy-types .annotator-privacy-type.checked {
  background-color: $privacy-selected;
}

.annotator-privacy-type.annotator-privacy-peer-groups {
  width: 45%;
}

.annotator-privacy-everyone {
  background-color: $privacy-default !important;
}

.annotator-privacy-private {
  background-color: rgba(255, 0, 51, .2) !important;
}

form.annotator-widget .annotator-privacy-groups {
  display: none;
}
form.annotator-widget .annotator-privacy-groups.show-groups {
  display: block;
  margin-left: 15px;
  color: black;
  padding: 0px;
}
label.annotator-privacy-group {
  width: 95%;
  margin-left: 5%;
  display: inline-block;
}

/* ----------------------------------------------------------------
*	Rich Text Annotator styles
*	from annotator/css/richText-annotator.css
*/

.annotator-viewer div:first-of-type.richText-annotation *,
.annotator-viewer div:first-of-type.richText-annotation{
  font-style: normal;
  font-weight: inherit;
  text-align: inherit;
}
.annotator-viewer div:first-of-type.richText-annotation{
  padding-top: 22px;
}

/* Fix in the tinymce */
.annotator-viewer div:first-of-type.richText-annotation strong{
  font-weight: bold;
}
.annotator-viewer div:first-of-type.richText-annotation em{
  font-style: italic;
}


/* Some change in the design of Annotator */
.annotator-editor .annotator-widget{
  min-width: 300px;
}

/* Fix to show icons */
.annotator-editor a:after {
  content: none;
}

.annotator-tags-item {
  font-size: smaller;
}

/* ----------------------------------------------------------------
*	Rich Text styles
*	from annotator/css/richtext.css
*/

/* Fix to show icons */
.annotator-editor a:after {
  content: none;
}

//.annotator-selection-handle::after {
//  background-image: url(../images/handle.png);
//}


.annotator-editor .annotator-widget .annotator-listing .annotator-item {
  line-height: 2.5em;
}

.annotator-notice,
.annotator-filter *,
.annotator-widget * {
  /*font-family: inherit !important;*/
}

/***
 *
 * Next rule overrides the "style='display: none'"
 * that gets added *inline* to our annotator-checkbox element
 * by some well-hidden piece of code that I've not been able to track down
 *
 * Mike Widner <mikewidner@stanford.edu>
 *
 ***/
li.annotator-checkbox[style] {
  display: block !important;
}


/* ----------------------------------------------------------------
*	Tags styles
*	from annotator/css/tags.css
*/

.ui-autocomplete-category {
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: small;
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

.annotator-tags-item {
  font-size: smaller;
}

#annotation-filters-wrapper {
  background-color: #eee;
  box-shadow: 2px 2px 5px gray;
}


/* Annotation histogram styles */
.annotation-histogram-bar {
  opacity: .5;
  stroke: #1693A5;
  stroke-opacity: .5;
  stroke-width: 1;
}

/* For vertical alignment */
#annotation-histogram-wrapper {
  margin-left: 1em;
  svg {
    position: relative;
  }
}

/* For Author plugin */
.annotator-author {
  display: block;
}

/* For CKEditor plugin */
.annotator-editor .cke {
  z-index: 10000 !important;
}


